.boardContainer {
    max-width: 1120px;
    margin: 0 auto;
    height: calc(100vh - 5rem);

    display: flex;
    align-items: center;
}

.task {
    background: var(--gray-300);
    margin: 10px;
}